*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    font-size: 14px;
    color: #575962;
}
.container{
    color: black;
}
#weather_container{
    margin-top: 1000px;
    background-color: #0e76a8;
}
.weather_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2d3955;
    padding: 20px;
    border-radius: 5px;
    background-color: #1b2847;
}
.weather_box:hover {
    background-color: #26324e;
}
.weather_box p{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: white;
}