*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo{
    margin-left: 100px;
}
.search{
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 5px;
}
.search i{
    margin: 0px 5px 0px 5px;
}
.search input{
    height: 35px;
    width: 300px;
    border-style: hidden;
    
}
.map{
    margin: 0px 20px 0px 20px;
}
.container{
    background-color: #162443;
    color: white;
    overflow: auto;
    padding-top: 100px;
}
.container .title{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 100px;
}
.container .weather_wrap{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-gap: 30px;
    margin-left: 100px;
}
.weather_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2d3955;
    padding: 20px;
    border-radius: 5px;
    background-color: #1b2847;
}
.weather_box:hover {
    background-color: #26324e;
}
.weather_box p{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: white;
}